<ion-navbar>
  <ion-title></ion-title>
</ion-navbar>

 

  <ion-content>

    <div class="divHeader">
       <div class="card-textoGrande">A fim de um cinema?</div>
       <div class="card-textoPequeno">O <b>EasyMovie</b> te ajuda!</div>
       <img src="./images/bgFiltros.png" style="width: 100%; height: 100%"/>
    </div>

<br>
    <ion-grid  class="filtro">
      <ion-row>
          <ion-col class="titulosFiltro">Quero ir</ion-col>
      </ion-row>
      <ion-row >
          <ion-col style="border-bottom: 1px black">
            <ion-scroll  scrollX="true" class="scrollHorizontal" overflow-scroll="true" >
 
                <ion-chip *ngFor=" let listaQuero of datas" [ngClass]="listaQuero.selecionado ? 'ativo' : 'inativo'"  (click)="selecionaOpcaoQueroIr(listaQuero)">
                  <ion-label class="tag"> {{format(listaQuero.data) }} </ion-label>
                </ion-chip>

            </ion-scroll>
          </ion-col>
      </ion-row >

      <br>
      <div class="linhaSeparador"></div> <!----------------------------- -->
      <br>

      <ion-row>
          <ion-col class="titulosFiltro">Procurar por</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
                <ion-chip *ngFor=" let listaProcura of listaProcuraPor" [ngClass]="listaProcura.selecionado ? 'ativo' : 'inativo'"  (click)="selecionaOpcaoProcurarPor(listaProcura)">
                  <ion-label class="tag"> {{listaProcura.nome}}</ion-label>
                </ion-chip>
          </ion-col>
      </ion-row>

      <br>
      <div class="linhaSeparador"></div><!----------------------------- -->
      <br>

      <ion-row>
          <ion-col class="titulosFiltro">Preferências</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-col>
              <ion-scroll  scrollX="true" class="scrollHorizontal" overflow-scroll="true" >
                <ion-chip *ngFor=" let listaPref of listaPreferencias" [ngClass]="listaPref.selecionado ? 'ativo' : 'inativo'"  (click)="selecionaOpcaoPrefs(listaPref)">
                  <ion-label class="tag"> {{listaPref.nome}}</ion-label>
                </ion-chip>
              </ion-scroll>
            </ion-col>
          </ion-col>
      </ion-row>

      <br>

      <ion-row>
          <ion-col width-67><button class="botaoPrimario" (click)="verFilmesCinemas()">CONTINUAR</button></ion-col>
          <ion-col width-33><button class="botaoSecundario" (click)="fecharFiltro()">VOLTAR</button></ion-col>
      </ion-row>
    </ion-grid>




  </ion-content>
