<ion-navbar>
  <ion-title></ion-title>
</ion-navbar>


  <ion-content class="background">

    <div class="divHeader" >
           <div class="card-textoGrande" style="top: 35%;">
              Existem <span style="color:#e1b612"><b>21 sessões</b></span><br>
              começando agora na sua cidade.<br>
          </div>

          <div class="botaoSuperior" style=" bottom: 0%; width: 100%; height: 20% ">

            <ion-scroll  scrollX="true" class="scrollHorizontalDatas" overflow-scroll="true" >
              <ion-chip  *ngFor=" let data of datas"  [ngClass]="data.selecionado ? 'ativo' : 'inativo'" (tap)="selecionaOpcaoQueroIr(data)">
                <ion-label  class="tag"><b>{{formataData(data.data)}}</b> ({{data.diasemana}})</ion-label>
              </ion-chip>
            </ion-scroll>

          </div>


          <img src="./images/headerPrincipal.png" style="width: 100%; height: 100%"/>
    </div>

<br>

<ion-grid style="padding: 0;">
  <ion-row>
    <ion-col col-50 class="botaoMenu" style="border-right:  1px solid #ccc8c5;" (tap)="verCinemas()">
    <br>
              <ion-grid >
                  <ion-row >
                      <ion-col col-3 class="botaoImagem" style="padding: 0; left: -38%;"><img src="./images/imgCinema.png"/></ion-col>
                      <ion-col col-9 class="botaoTexto" style="text-align: left; left: 37%;">Buscar<br><span style="font-size: 0.6em;">cinemas</span></ion-col>
                  </ion-row>
             </ion-grid>
    <br>
    </ion-col>
    <ion-col col-50 class="botaoMenu" (tap)="verFilmes()">
    <br>
            <ion-grid >
                  <ion-row >
                      <ion-col col-3 class="botaoImagem" style="padding: 0; left: 12%;"><img src="./images/imgFilme.png"/></ion-col>
                      <ion-col col-9 class="botaoTexto" style="text-align: left; left: 35%;">Filmes&nbsp;&nbsp;&nbsp;&nbsp;<br><span style="font-size: 0.6em;">da sua cidade</span></ion-col>
                  </ion-row>
            </ion-grid>
    <br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="botaoMenu" (tap)="verSessoesAgora()" style="border-bottom:  1px solid #ccc8c5;">
    <br>
             <ion-grid>
                  <ion-row>
                      <ion-col col-3 class="botaoImagem" style="padding: 0; left: -38%; "><img src="./images/imgAgora.png"/></ion-col>
                      <ion-col col-9 class="botaoTexto" style="text-align: left; left: 16%;">O que tem agora?<br><span style="font-size: 0.6em;">Veja as sessões que estão <b>começando agora</b></span></ion-col>
                  </ion-row>
            </ion-grid>
    <br>
    </ion-col>
  </ion-row>
</ion-grid>

<br>

<ion-grid style="padding: 0;">
  <ion-row>
    <ion-col class="labelMaisProcurados" style="padding: 2%;">O QUE VAI ESTREAR <b>EM BREVE</b></ion-col>
  </ion-row>
    <ion-row>
    <ion-col class="labelMaisProcurados" style="opacity:0.5">


      <div  #filmeCard *ngFor=" let filme of filmes;let i=index"   style="width:100%">
        <div class="overlayFilme">{{filme.title}}<br><span style="font-size:0.6em">Estreia em {{filme.premiereDate.dayAndMonth}} ({{filme.premiereDate.dayOfWeek}})</span></div>
        <img  src={{filme.images[1].url}}  />
      </div>


    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="background-color: #ffffff;"><br></ion-col>
  </ion-row>
</ion-grid>

  </ion-content>
