<ion-navbar >
  <ion-title></ion-title>
</ion-navbar>

<ion-content class="fontePadrao">
<br>
<div class="labelTituloTela">
<b>Sessões agora!</b>
</div>
<div class="labelSubTituloTela">Filmes que estão para começar</div>

<!--{{filmesSelecionados | json}} -->

<ion-scroll  scrollX="true" class="scrollHorizontal" overflow-scroll="true" >
  <ion-chip  *ngFor=" let filme of filmesSelecionados" [ngClass]="filme.selecionado ? 'ativo' : 'inativo'"  (click)="selecionaOpcaoPrefs(filme)">
    <ion-label class="tag"> {{filme.nome | uppercase}}</ion-label>
  </ion-chip>
</ion-scroll>



<ion-row class="headerSessoes">
    <ion-col width-75 *ngIf="qtSessoes === 1">Foi encontrada apenas <b>uma</b> sessão</ion-col>
    <ion-col width-75 *ngIf="qtSessoes > 1">Foram encontradas <b>{{qtSessoes}}</b> sessões</ion-col>
     <ion-col width-33 style="font-size: 10px" (tap)="verSessoesProximas()">sdfsdf</ion-col>
</ion-row>

<!--Scrol somente da tela de resultado -->
<ion-scroll  scrollY="true" class="scrollVertical" overflow-scroll="true" >
  <br>
<ion-list class="itemListaSessao" no-lines>

  <ion-item class="itemItemSessao" #sessaoFilme *ngFor=" let sessao of sessoes">
  		<div style="position: absolute;  width: 100% ; top: 10%">
  			<ion-row style="height:90%">
  				<ion-col width-20 style="text-align: center" class="fonteLabelTituloHorario">

					<span style="font-weight:bold;">{{formataHora(sessao.hora)}}</span><br><ion-icon name="arrow-round-down"></ion-icon><br><span style="font-weight:lighter;font-size: 12px;">{{calculaHoraFim(formataHora(sessao.hora), sessao.duracao)}}</span>

  				</ion-col>
  				<ion-col width-80>
                      <img src={{sessao.poster}}  class="posterPequeno">
                      <div style="padding-left: 40px">
                          <span class="fonteLabelTituloFilme">{{sessao.nomeFilme}}</span><br>
                          <span class="fonteLabelTituloCinema" ><b>{{sessao.nomeCinema}}</b></span><br>
                          <span class="fonteLabelTituloDistancia"><b>{{ formataDistanciaAmigavel(sessao.distancia) }}</b> de você  ({{sessao.distancia}} km)</span><br>
                          <span class="fonteLabelTituloDistancia"> {{sessao.tipo}} - {{sessao.tipo3d}}</span><br>
                          <ion-chip class="ratingIMDBSessao">
                            <div class="estrelaRatingSessao"><img src="./images/starRating.png" class="estrelaRatingTamanhoSessao"></div>
                            <span style="color:white; position:absolute;left:30px"><b>{{sessao.notaimdb}}</b>/<span style="font-size: 10px;">10</span></span>
                          </ion-chip>

                      </div>
  				</ion-col>
  			</ion-row>

  		</div>
  		<img  src="./images/linhaSessaoAlta.png" style="max-width: 95%;" />
  </ion-item>



</ion-list>
</ion-scroll>

</ion-content>
