<ion-navbar *navbar>
  <ion-title></ion-title>
</ion-navbar>

<ion-content class="card-background-page">
<br>
<div class="labelTituloTela">
<b>Cinemas na sua cidade</b>
</div>
<div class="labelSubTituloTela">{{formataData(filtroData)}}</div>
<br><br>
<!-- {{cinemas | json}} -->





<!--Scrol somente da tela de resultado -->
<ion-scroll  scrollY="true" class="scrollVerticalCinemas" overflow-scroll="true" >

<!-- ################################ CARDS #####################################-->


   <ion-card  #cinemaCard *ngFor=" let cinema of cinemas ">


        <button ion-button  #botaoAdiciona class="botaoCard" *ngIf="cinema.selecionado === 0" (click)="selecionaCinema(cinema);" round small >
        <ion-icon name="add" ></ion-icon>
       </button >
        <button ion-button  #botaoAdiciona class="botaoCardSelecionado" *ngIf="cinema.selecionado === 1" (click)="selecionaCinema(cinema);" round small >
        <ion-icon name="checkmark" ></ion-icon>
       </button >


      <div  #layerMarcada [ngClass]="cinema.selecionado ? 'marcacaoSelecionado' : 'marcacaoNaoSelecionado'" >
      </div>


      <!--div class="tagRanking" *ngIf="i<3 && filme.qtacessos > 0"><b>{{i + 1}}º</b> MAIS PROCURADO</div-->

      <img  src={{cinema.imagem}} (click)="verDetalhes(filme)" >

      <div class="card-subtitle">
          <ion-row>
              <ion-col>
                  <ion-row>
                      <ion-col class="fonteTituloFilme">
                      {{cinema.nome}}
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col  class="labelGeneroFilme">
                            <b>{{ formataDistanciaAmigavel(cinema.distancia) }}</b> de você ({{cinema.distancia}} km)
                      </ion-col>
                  </ion-row>
                </ion-col>
         </ion-row>
      </div>

   </ion-card>

</ion-scroll>
</ion-content>


<ion-toolbar position="bottom" class="toolbarVerSessoes" >
<ion-grid >
  <ion-row>
      <ion-col width-50>
        <b> <span class="fonteLabel" style="font-size: 23px; ">{{ contadorCinemasEscolhidos }}</span> </b><br>
        <span class="fonteLabel" style="font-size: 13px;">cinemas escolhidos</span>


      </ion-col>
      <ion-col width-50  style="text-align:center;">
          <button class="botaoVerSessoes" (click)="verSessoes()">VER SESSÕES</button>
      </ion-col>
 </ion-row>
</ion-grid>
</ion-toolbar>
